.main {
  padding: 1% 5%;
  height: 30vh;
  display: grid;
  grid-template-columns: 10% 30% auto 10%;
  margin-bottom: 5vh;
}

.logo {
  grid-area: 1/2;
  display: grid;
  height: 100%;
  grid-template-rows: 80% auto;
}

.description_container {
  grid-area: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  text-align: center;
  font-size: 1.3rem;
}

.logo_image {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1/1;
}

.logo_title {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: top;
  grid-area: 2/1;
  z-index: 100;
  padding-right: 3vw;
}
