html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --white: #fff;
  --text: #000;
  --background: #fff;
  --blue: #44546b;
  --lightblue: #5a87b4;
  --ice: #f6f6f6;
  --dark-ice: #ededed;
  --red: #e22c2c;
  --yellow: #ffe600;
  --green: #3aa845;
  --grey: #bfbfbf;
  --grey-white: #f6f6f6;
  --lightgrey: #bfbfbf;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Style padrão dos botões e animações */
.btn {
  position: relative;
  display: block;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: var(--lightblue);
  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

.btn:hover {
  cursor: pointer;
}
