.container {
  padding-top: 70px;
  height: 130vh;
}

.main {
  overflow: auto;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_container {
  display: grid;
  grid-template-columns: 15% auto 20% 15%;
  width: 100%;
  height: 8vh;
}

.country_input {
  grid-area: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_area {
  grid-area: 1/3;
  margin: 1vh 1vw;
  font-size: 1.3rem;
  background-color: var(--grey);
}
